.git
.github
.gitignore

frontend/node_modules
frontend/dist

backend/.venv
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache
backend/.ruff_cache

*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

node_modules
dist
