fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg[binary]
pydantic-settings
python-jose[cryptography]
rapidfuzz
passlib[bcrypt]==1.7.4
bcrypt<4
aiofiles
pandas
ruff
slowapi
azure-appconfiguration-provider