html {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground;
}

a {
  @apply text-blue-500 underline-offset-2 hover:text-blue-500 hover:underline;
}

@keyframes modal-rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --animate-modal-rainbow: modal-rainbow 3s ease alternate infinite;
}
