/* SPDX-License-Identifier: MPL-2.0 */

html {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground;
}

@keyframes modal-rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --animate-modal-rainbow: modal-rainbow 3s ease alternate infinite;
}
