:root {
  /* #region APP */
  --background: #2d2d32;
  --foreground: #fff;

  --accent-1: #4ea8ff;
  --accent-2: #4060a8;
  /* #endregion */

  /* #region Controls */
  --control: #ccc;
  --control-checked: #56c080;
  --control-foreground: #333;
}

.light {
  /* #region APP */
  --background: #fff;
  --foreground: #000;

  /* #endregion */

  /* #region Controls */

  /* #endregion */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);

  --color-control: var(--control);
  --color-control-checked: var(--control-checked);
  --color-control-foreground: var(--control-foreground);
}
