:root {
  /* #region APP */
  --background: #2d2d32;
  --foreground: #fff;

  /* #endregion */
}

.light {
  /* #region APP */
  --background: #fff;
  --foreground: #000;

  /* #endregion */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent-1: #4ea8ff;
  --color-accent-2: #4060a8;

  --color-control: #ccc;
  --color-control-checked: #56c080;
  --color-control-foreground: #333;

  --color-red: #ff0000;
}
